<div class="page-header">
  <h1>myBin<small> ücretsiz olarak linklerinizi depolayabileceğiniz bir servistir.</small></h1>
</div>
<p>Servisimizin kesinlikle bir ücreti yoktur. Kullanmaya başlamak için hemen üye ol. myBin ile neler mi yapabilirsin ?
	<ul type="square">
		<li>Link ekleyebilirsin.</li>
		<li>Linlerine açıklama ekleyebilirsin.</li>
		<li>Linlerine etiket ekleyebilirsin.</li>
		<li>Linlerini eklediğin etiketlere göre filtreleyebilirsin.</li>
		<li>Linlerin arasında arama yapabilirsin.</li>
	</ul>
	<hr>
	<div class="media">
		<a class="pull-left" href="#"><i class="fa fa-5x fa-coffee"></i></a>
		<div class="media-body">
			<h4 class="media-heading">Kahve ısmarlamak isterseniz soldaki fincana tıklayınız :)</h4>
			<p>myBin hazırlanırken <code>125</code> adet kahve tüketildi..</p>
		</div>
	</div>
</p>